checkpoint_epoch12.pth filter=lfs diff=lfs merge=lfs -text
checkpoint_epoch24.pth filter=lfs diff=lfs merge=lfs -text
checkpoint_epoch2.pth filter=lfs diff=lfs merge=lfs -text
cifar_net.pth filter=lfs diff=lfs merge=lfs -text
checkpoint_epoch18.pth filter=lfs diff=lfs merge=lfs -text
checkpoint_epoch4.pth filter=lfs diff=lfs merge=lfs -text
checkpoint_epoch14.pth filter=lfs diff=lfs merge=lfs -text
checkpoint_epoch20.pth filter=lfs diff=lfs merge=lfs -text
checkpoint_epoch22.pth filter=lfs diff=lfs merge=lfs -text
checkpoint_epoch30.pth filter=lfs diff=lfs merge=lfs -text
checkpoint_epoch6.pth filter=lfs diff=lfs merge=lfs -text
checkpoint_epoch10.pth filter=lfs diff=lfs merge=lfs -text
checkpoint_epoch16.pth filter=lfs diff=lfs merge=lfs -text
checkpoint_epoch26.pth filter=lfs diff=lfs merge=lfs -text
checkpoint_epoch28.pth filter=lfs diff=lfs merge=lfs -text
checkpoint_epoch8.pth filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
data/cifar-10-batches-py/data_batch_1 filter=lfs diff=lfs merge=lfs -text
data/cifar-10-batches-py/data_batch_2 filter=lfs diff=lfs merge=lfs -text
data/cifar-10-batches-py/data_batch_3 filter=lfs diff=lfs merge=lfs -text
data/cifar-10-batches-py/data_batch_4 filter=lfs diff=lfs merge=lfs -text
data/cifar-10-batches-py/data_batch_5 filter=lfs diff=lfs merge=lfs -text
data/cifar-10-batches-py/readme.html filter=lfs diff=lfs merge=lfs -text
data/cifar-10-batches-py/test_batch filter=lfs diff=lfs merge=lfs -text
data/cifar-10-batches-py/batches.meta filter=lfs diff=lfs merge=lfs -text
